<mat-stepper [linear]="true">
    <mat-step [completed]="isFileRead">
        <ng-template matStepLabel>Upload Sample File</ng-template>
        <div class="row">
            <button mat-button matStepperNext [disabled]="!isFileRead">Next</button>
        </div>
        <br>
        <div class="column">
            <div class="column">
                <label for="samplesInput">Upload a Samples file</label>
                <input type="file" name="samplesInput" accept=".xlsx" (change)="readFile($event)">
            </div>
            <br>
            @if (isFileRead) {
                <div class="column">
                    <mat-checkbox [formControl]="showTable" labelPosition="before">View Data</mat-checkbox>
                    <div id="data"></div>
                </div>
            }
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Map Columns</ng-template>
        <div class="row">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </div>
        <br>
        <p>Please map the columns to the appropiate data fields</p>
        <form class="row spread" [formGroup]="columnMappings">
            <div class="column left-aligned">
                <p>Spreadsheet Information</p>
                <mat-form-field>
                    <mat-label>Rows to skip</mat-label>
                    <input matInput type="text"  formControlName="rowsToSkip"/>
                </mat-form-field>
            </div>
            <div class="column left-aligned">
                <p>Identification Data</p>
                <mat-form-field>
                    <mat-label>Location ID</mat-label>
                    <input matInput type="text"  formControlName="locId"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input matInput type="text"  formControlName="date"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Time</mat-label>
                    <input matInput type="text"  formControlName="time"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Timezone</mat-label>
                    <input matInput type="text"  formControlName="timeZone"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Depth</mat-label>
                    <input matInput type="text"  formControlName="depth"/>
                </mat-form-field>
            </div>
            <div class="column left-aligned">
                <p>Parameters</p>
                <mat-form-field>
                    <mat-label>Secchi</mat-label>
                    <input matInput type="text"  formControlName="secchi"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Temp</mat-label>
                    <input matInput type="text"  formControlName="temp"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>PH</mat-label>
                    <input matInput type="text"  formControlName="ph"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sp. Conductance</mat-label>
                    <input matInput type="text"  formControlName="spCond"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>DO Sat %</mat-label>
                    <input matInput type="text"  formControlName="doPercent"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>DO mg/L</mat-label>
                    <input matInput type="text"  formControlName="do"/>
                </mat-form-field>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Review</ng-template>
        <div class="row">
            <button mat-button matStepperPrevious>Back</button>
        </div>
        <br>
        <div class="column">
            @if(importedSamples.length > 0) {
                {{ importedSamples.length }} samples were read from the file.
                <button mat-button (click)="logData()">View in Console</button>
                @if(rowsMissingData.length > 0) {
                    <br><br>
                    {{ rowsMissingData.length }} error(s) were detected. Please see below for more detailed information.
                    <br><br>
                    <ul class="column">
                        @for(row of rowsMissingData; track $index) {
                            <li>Sample <b>{{row.index + 1}}</b> is missing data for the column <b>{{row.column}}</b></li>
                        }
                    </ul>

                }
                @else {
                    <br><br>
                    No errors were detected!
                    <br><br>
                    <button mat-button (click)="upload()">Finish Upload</button>
                }
            }
            @else {
                No samples were found!
            }
        </div>
        
    </mat-step>
</mat-stepper>
